[tool.poetry]
name = "humbldata"
version = "0.7.0"
description = "Migrating humbldata to Python. A private package to connect humblFinance to all of its data, perform analysis and graphing."
authors = ["Jennings Fantini <jennings@humblfinance.io>"]
readme = "README.md"
license = "Propietary"
packages = [
    { include = "humbldata", from = "src" }
]

[tool.poetry.dependencies]
python = ">=3.8.1,!=3.9.7,<3.11.0"
requests = "^2.31.0"
openbb = "==3.2.2"
polars = "0.19.3"
QuantStats = "^0.0.62"
rich = "^12.6.0"


[tool.poetry.group.dev.dependencies]
commitizen = "^3.10.0"
pytest = "^7.4.2"
pytest-cov = "^4.1.0"
black = "^23.9.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.commitizen]
name = "cz_conventional_commits"
version = "0.7.0"
tag_format = "v$version"
update_changelog_on_bump = true
annoted_tag = true
major_version_zero = true
version_files = [
    "pyproject.toml:^version",
    #"./src/humbldata/__version__.py"
]

[tool.ruff]
line-length = 80

select = [
"E",   # pycodestyle
"F",   # pyflakes
"UP",  # pyupgrade,
"I",   # isort
"B",   # bugbear
]

# Allow autofix for all enabled rules (when `--fix`) is provided.
fixable = ["A", "B", "C", "D", "E", "F", "G", "I", "N", "Q", "S", "T", "W", "ANN", "ARG", "BLE", "COM", "DJ", "DTZ", "EM", "ERA", "EXE", "FBT", "ICN", "INP", "ISC", "NPY", "PD", "PGH", "PIE", "PL", "PT", "PTH", "PYI", "RET", "RSE", "RUF", "SIM", "SLF", "TCH", "TID", "TRY", "UP", "YTT"]
unfixable = []

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
]
per-file-ignores = {}

[tool.ruff.mccabe]
# Flag errors (`C901`) whenever the complexity level exceeds 10.
max-complexity = 10
