div.image {
    text-align: center;
}

div.image img {
    width: 300px;
}

.selenium_separator {
    height:5px;
    background-color: gray;
    display: none;
}

.selenium_td_img {
    width: 320px;
    /* text-align: center; */
}

.selenium_log_comment {
    font-family: monospace;
    color: maroon;
}

.selenium_log_description {
    font-family: monospace;
    color: black;
}

.selenium_log_action {
    font-weight: bold;
    color: black;
}

.selenium_log_target {
    color: blue;
}

.selenium_log_quotation {
    font-family: monospace;
    font-weight: bold;
    color: black;
}

.selenium_log_fatal {
    font-family: monospace;
    color: red;
}

.selenium_div_img {
    text-align: center;
}

.selenium_log_img {
    border: 1px solid black;
    width: 300px;
    height: 170px;
    object-fit: cover;
    object-position: top;
}

.selenium_extras_img {
    border: 1px solid black;
    width: 300px;
    /* height: 200px; */
}
